<h1>Listing players</h1>
 
<table>
  <tr>
    <th>id</th>
    <th>surname</th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.surname %></td>
      
    </tr>
  <% end %>
</table>